<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,400;1,100;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css')}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.first_name }}'s Dashboard</title>
</head>
<body>
    <div id="dash-header">
        <h2 class="dash-h2">Find your flavor {{ user.first_name + " " + user.last_name }}</h2>
        <h1 class="main-logo">coffeeFind</h1>
    </div>
    <div class="dash-categories">
        <div class="category-card">
            <h1>Sweet</h1>
            <img src="https://images.pexels.com/photos/6205620/pexels-photo-6205620.jpeg?cs=srgb&dl=pexels-tim-douglas-6205620.jpg&fm=jpg" alt="caramel coffee">
            <p class="card-text">In the mood for something sweet?</p>
        </div>
        <div class="category-card">
            <h1 class="cat-h1">Bitter</h1>
            <img src="https://images.pexels.com/photos/192730/pexels-photo-192730.jpeg?cs=srgb&dl=pexels-david-bares-192730.jpg&fm=jpg" alt="caramel coffee">
            <p class="card-text">In the mood for something sweet?</p>
        </div>
        <div class="category-card">
            <h1>Foriegn</h1>
            <img src="https://images.pexels.com/photos/2299028/pexels-photo-2299028.jpeg?cs=srgb&dl=pexels-engin-akyurt-2299028.jpg&fm=jpg" alt="caramel coffee">
            <p class="card-text">In the mood for something sweet?</p>
        </div>
        <div class="category-card">
            <h1>Dietary</h1>
            <img src="https://images.pexels.com/photos/10177093/pexels-photo-10177093.jpeg?cs=srgb&dl=pexels-sena-10177093.jpg&fm=jpg" alt="caramel coffee">
            <p class="card-text">In the mood for something sweet?</p>
        </div>
        <div class="category-card">
            <h1>Drip</h1>
            <img src="https://images.pexels.com/photos/6036281/pexels-photo-6036281.jpeg?cs=srgb&dl=pexels-nikita-belokhonov-6036281.jpg&fm=jpg" alt="caramel coffee">
            <p class="card-text">In the mood for something sweet?</p>
        </div>
    </div>
    <footer>
        <div class="dash-foot">
            <div class="dash-foot-left">
                <p>If you'd like to get in contact, feel free to reach out at:</p>
                <a href="">coffeefind@gmail.com</a>
                <p>999-999-999</p>
            </div>
            <div class="dash-foot-right">
                <img src="https://img.icons8.com/fluency/48/000000/facebook-new.png"/>
                <img src="https://img.icons8.com/color/48/000000/instagram-new--v1.png"/>
                <img src="https://img.icons8.com/fluency/48/000000/twitter.png"/>
            </div>
        </div>
    </footer>
</body>
</html>